@using TravelTrip.Models.sınıflar
@model List<blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Blog Listesi</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>BAŞLIK</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>DETAYLAR</th>
    </tr>
    @foreach (var x in Model)
    {
    <tr>
        <td>@x.ID</td>
        <td>@x.Baslik</td>
        <td><a href="/Admin/blogSil/@x.ID" class=" btn btn-danger">Sil </a></td>
        <td><a href="/Admin/blogGetir/@x.ID" class=" btn btn-warning">Güncelle</a></td>
        <td><a href="#" class=" btn btn-default">Detaylar</a></td>
    </tr>
    }
</table>
<a href="/Admin/yeniBlog/" class="btn btn-primary">Yeni Blog</a>

