
@model  TravelTrip.Models.sınıflar.müzikyorum
@{
    ViewBag.Title = "müzikler";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>Müzikler</title>
    <!-- Loading third party fonts -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900" rel="stylesheet" type="text/css">
    <link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Loading main css file -->
    <link rel="stylesheet" href="~/Content/mstyle.css">


</head>
<body>



    
        <div class="fullwidth-block download">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h2 class="page-title">Music</h2>
                        @foreach (var deger in Model.deger1)
                        {
                            <div class="item">
                                <h3 class="item-title">@deger.müzikBaslik </h3>
                                <span class="year">@deger.cikisTarih.ToString("yyyy")</span>
                                <a href="@deger.link" class="btn btn-link">Dinle</a>

                            </div>
                        }


                    </div>
                   
                </div>
            </div>
        </div>

</body>
        
</html>

